{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>{{ seo_title|default:"Karnataka Darshana | Travel & Adventure in Karnataka" }}</title>
    <meta name="description" content={{meta_description}}>
    <meta name="keywords" content={{meta_keyword}}>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/book.css' %}">

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- Optional Bootstrap for styling -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo/logo.jpeg' %}" alt="Logo" style="width: 100px;" height="70px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="destinationsDropdown" role="button"
                        data-bs-toggle="dropdown">
                        Destinations
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Dubai</a></li>
                        <li><a class="dropdown-item" href="#">Goa</a></li>
                        <li><a class="dropdown-item" href="#">Karnataka</a></li>
                        <li><a class="dropdown-item" href="#">Kerala</a></li>
                        <li><a class="dropdown-item" href="#">Ooty</a></li>
                        <li><a class="dropdown-item" href="#">View More</a></li>
                    </ul>
                </li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button"
                        data-bs-toggle="dropdown">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sunrise Treks</a></li>
                        <li><a class="dropdown-item" href="#">One Day Trips</a></li>
                        <li><a class="dropdown-item" href="#">Two Day Treks</a></li>
                        <li><a class="dropdown-item" href="#">International Trips</a></li>
                        <li><a class="dropdown-item" href="#">View More</a></li>
                    </ul>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#blogs">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
            </ul>
            <div class="d-flex align-items-center gap-3">
                <a href="tel:+917766071191" class="text" class="text-dark me-5">
                    <i class="fas fa-phone-alt me-1"></i> +91 8150924922
                </a>
                <a href="/#Upcoming-Events" class="btn Upcoming-btn">Upcoming Events</a>
                {% comment %} <a href="#" class="btn btn-primary">Login</a> {% endcomment %}
            </div>
        </div>
    </div>
</nav>

 <!-- Hero Section -->
 <div class="carousel slide mb-4 carousel-dark" id="darkCarousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="500">
            <img src="{% static 'images/banner/Banner_1.png' %}" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="500">
            <img src="{% static 'images/banner/Banner_2.png' %}" alt="accenture" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="{% static 'images/banner/Banner_3.png' %}" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'images/banner/Banner_4.png' %}" alt="accenture" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#darkCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#darkCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

 

<!-- Dont touch this ============================== -->
<!-- Page Content -->

    {% block content %}{% endblock %}

<!-- Dont touch this ============================== -->





 <!-- FAQ SECTION -->
<section class="py-2">
    <div class="container mt-3">
      <div class="text-center mb-4">
        <h1 class="sub-title section-title">FAQ</h1>
        <p class="text-center text-muted mb-4">Commonly Asked Questions</p>
      </div>
  
      <div class="row py-2 gy-4 align-items-center">
        
        <!-- FAQ Image -->
        <div class="col-lg-6">
          <img src="{% static 'images/about_img/about_image.jpg' %}" class="img-fluid rounded shadow" alt="FAQ Image">
        </div>
  
        <!-- FAQ Accordion -->
        <div class="col-lg-6">
          <div class="accordion" id="faqAccordion">
  
            <!-- Item 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq1">
                  Q1. Where is the Netravathi River located?
                </button>
              </h2>
              <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  The Netravathi River flows through Karnataka, originating in the Western Ghats near Kudremukh
                  and joining the Arabian Sea near Mangalore.
                </div>
              </div>
            </div>
  
            <!-- Item 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2">
                 Q2. Where is Dandeli located?
                </button>
              </h2>
              <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Dandeli is located in Uttara Kannada district, Karnataka, surrounded by dense forests of the
                  Western Ghats.
                </div>
              </div>
            </div>
  
            <!-- Item 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3">
                  Q3. Where is Dudhsagar Falls located?
                </button>
              </h2>
              <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Dudhsagar Falls is located on the Goa–Karnataka
                border, inside the Bhagwan Mahaveer Wildlife Sanctuary, near Mollem, Goa.
                </div>
              </div>
            </div>
  
            <!-- Item 4 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4">
                  Q4. How many days are enough to explore Dandeli?
                </button>
              </h2>
              <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  A 2 to 3-day trip is ideal to enjoy adventure sports, wildlife, and nature experiences.
                </div>
              </div>
            </div>
  
            <!-- Item 5 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq5">
                  Q5. Is Dudhsagar Falls open during monsoon? 
                </button>
              </h2>
              <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Entry is often restricted or regulated during
                  monsoon due to safety concerns, though the falls are at their peak flow
                </div>
              </div>
            </div>
  
          </div>
        </div>
  
      </div>
  
    </div>
</section>
  
  <!-- Footer -->
  <section class="py-2">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <img src="{% static 'images/logo/logo.jpeg' %}" alt="Trip" class="mb-3" style="max-height: 50px;">
                <h5>About trip</h5>
                <p>We as an Adventure Travel company aim to show you nice people the most beautiful and pristine
                    places in Karnataka.</p>
                <a href="#" class="btn btn-outline-light btn-sm">Sitemap</a>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Our Company</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'about' %}">About us</a></li>
                    <li><a href="/#blogs">Blogs</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <!-- <li><a href="#">Privacy Policy</a></li> -->
                    <li><a href="{% static 'images/pdf/Karnataka_Darshana_Terms_and_Conditions.pdf' %}">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Destinations</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Coorg</a></li>
                    <li><a href="#">Goa</a></li>
                    <li><a href="#">Karnataka</a></li>
                    <li><a href="#">Kerala</a></li>
                    <li><a href="#">Ooty</a></li>
                    <li><a href="#">View More</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <i class="fas fa-envelope me-2"></i>
                        <a href="mailto:support@trip.in">support@trip.in</a>
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-phone me-2"></i>
                        <a href="tel:+917766071191">+91 8150924922</a>
                    </li>
                    <li class="mb-2">
                        <i class="fas fa-map-marker-alt me-2"></i>
                          No 25, Hesarghatta Road, near Karnataka Bank, Defence Colony, Bagalakunte, Bengaluru, Karnataka 560073, India
                    </li>
                </ul>
                <div class="mt-2">
                    <a href="https://www.facebook.com/karnatakadarshanavinay" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://x.com/harishkp457065" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/karnataka_darshana/#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@KarnatakaDarshana2018" class="social-icon"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <hr class="mt-2 mb-2">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-2">© 2025 All Rights Reserved | Developed by <a href="https://wa.me/917766071191?text=Hi%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">AM Enterprise</a>
                </p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-2">Designed & Developed by with Rahul <i class="fas fa-heart text-danger"></i> for travelers</p>
            </div>
        </div>
    </div>
</footer>


<!-- Mobile Call Button -->
<a class="call-btn-mob" href="tel:+91 8150924922">
  <i class="bi bi-telephone"></i>
</a>

<!-- WhatsApp Float -->
<a href="https://api.whatsapp.com/send?phone=91 8150924922&text=Hello!%20I%20want%20to%20chat." class="whatsapp-float" target="_blank">
    <i class="fab fa-whatsapp"></i>
</a>
</section>


<script src="{% static 'JavaScript/script.js' %}"></script>
<script src="{% static 'JavaScript/book.js' %}"></script>
<script src="{% static 'JavaScript/contact.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
